@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-stl {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
  width: 100%;
  height: 50vh;
  border-style: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-stl:focus,
.bg-stl:active,
.bg-stl:hover {
  border-style: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.bg-stl-top {
  top: 0;
}

.bg-stl-bottom {
  bottom: 0;
}

.bg-img-landing-top {
  background-image: url("/images/RLS-184.jpg");
}

.bg-img-landing-bottom {
  background-image: url("/images/RLS-243.jpg");
  height: 30vh;
}

.bg-img-home {
  background-image: url("/images/RLS-251.jpg");
  height: 30vh;
}

.bg-img-gifts {
  background-image: url("/images/RLS-178.jpg");
  height: 30vh;
}

.bg-img-home-bot {
  background-image: url("/images/RLS-266.jpg");
  height: 25vh;
  background-position: top;
}

.bg-img-event {
  background-image: url("/images/RLS-223.jpg");
  height: 30vh;
}

.bg-img-location {
  background-image: url("/images/RLS-270.jpg");
  height: 30vh;
}

.bg-img-wishes {
  background-image: url("/images/RLS-247.jpg");
  height: 30vh;
}

.bg-img-landing-top:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: linear-gradient(to top, white 0%, transparent 100%);
}

.bg-img-landing-bottom:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(to top, transparent 10%, white 80%);
}

.bg-img-event:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(to top, white 0%, transparent 100%);
}

.bg-img-wishes:before,
.bg-img-location:before,
.bg-img-gifts:before,
.bg-img-home-bot:before,
.bg-img-event:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to bottom, white 0%, transparent 100%);
}

.bg-overlay-top:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to top, white 0%, transparent 100%);
}

.bg-overlay-bot:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to top, transparent 10%, white 80%);
}

.bg-overlay-h30:after {
  height: 30vh;
}

.color-circles {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.color-item {
  text-align: center;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 0.5rem;
  border: 2px solid #fff;
}

.label {
  font-size: 14px;
  color: #333;
}

.color-white {
  background-color: #955a32;
}
.color-gold {
  background-color: #d09f81;
}
.color-navy {
  background-color: #e6d8cd;
}

.color-nude-light {
  background-color: #e6d8cd;
}
.color-nude-pink {
  background-color: #d09f81;
}
.color-nude-tan {
  background-color: #d2a679;
}
.color-brown-soft {
  background-color: #a47551;
}
.color-brown-deep {
  background-color: #6e4b3a;
}
